.btn:link,
.btn:visited,.btn{
    text-decoration: none;
    text-transform: capitalize;
    font-size:2rem;
    padding: 1rem 4rem;
    border-radius: 10rem;
    display:inline-block;
    transition: all 0.2s;
    position:relative;

    //for <button> element
    border: none;
    outline: none;

    @include respond(tab-port){
        font-size: 2.2rem;
    }
   
}

.btn{
    &:hover{
        transform:translateY(-3px);
        box-shadow: 0 2rem 3rem rgba($color-black,.4);
        &::after{
            transform:scaleX(1.4) scaleY(1.6);
            opacity:0;
        }
      }
    
    &:active,&:focus{
        //&:focus for button element
        transform:translateY(-1px);
        box-shadow: 0 5px 1rem rgba($color-black,.4);
    }

    &--white{
        background-color: $color-white;
        color:$color-grey;

        &::after{
            background-color:$color-white;
            color:$color-grey;
        }
    }

    &--green{
        background-color: $color-primary;
        color:$color-white;
        font-weight: 400;

        &::after{
            background-color:$color-primary;
            font-weight: 400;
            color:$color-white;
        }
    } 

    &::after{
        content:"";
        display:inline-block;
        height:100%;
        width:100%;
        border-radius: 10rem;
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animation{
        animation:moveinbottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
       
    }
}

.btn-text:link,
.btn-text:visited{
    text-decoration: none;
    text-transform: uppercase;
    color:$color-primary;
    display: inline-block;
    background-color: $color-white;
    border-bottom: 2px solid $color-primary;
    font-size: $default-fontsize;
    font-weight: 400;
    transition:all .2s;
    padding:0 1rem;

    &:hover{
      color:$color-white;
      background-color:$color-primary;
      transform:translateY(-2px);
      box-shadow: 0 2rem 2rem rgba($color-black,.2);
    }
    &:active{
        transform:translateY(0);
        box-shadow: 0 1.5rem 1rem rgba($color-black,.2);
    }

}

